language: node_js
node_js:
  - v10.15.1
dist: trusty
sudo: false

branches:
  only:
  - master

cache:
  directories:
    - node_modules

install:
  - npm install -g yarn

script:
  - yarn build --prod --base-href /app/
  - mv dist/app/index.html dist/app/404.html
deploy:
  provider: pages
  local-dir: ./dist/app
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: true
  on:
    branch: master
  
